@font-face {
  font-family: 'JinBuTi';  /* 定义字体名称 */
  src: url('/fonts/JinBuTi.ttf') format('truetype');  /* 字体文件路径及格式 */
  font-weight: normal;  /* 字体粗细 */
  font-style: normal;   /* 字体样式 */
}

#footer-animal {
  position: relative;
  width: 100%;
}

#footer-animal .animal-wall {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 36px;
  max-width: none;
  background: #bcb0a4 url(https://p.chyt.top/wall.avif) repeat center;
  background-size: auto 100%;
  box-shadow: 0 4px 7px rgba(0,0,0,.15);
}

@media screen and (max-width: 1023px) {
  #footer-animal .animal-wall {
      height:4vw
  }
}

#footer-animal img.animal {
  position: relative;
  max-width: min(974px,100vw);
  margin: 0 auto;
  display: block;
}

#footer-bar {
  margin-top: 0 !important;
}